:root { 
--gray_600:#737373; 
--gray_600_00:#74747400; 
--gray_500:#959595; 
--red_700:#ed1c24; 
--gray_901:#1a1a1a; 
--gray_902:#111112; 
--white_A700_0a:#ffffff0a; 
--gray_800:#464646; 
--gray_900:#282525; 
--bluegray_100:#d9d9d9; 
--black_900_c9:#000000c9; 
--black_900_0c:#0000000c; 
--gray_50:#f8f8f8; 
--black_900_d8:#000000d8; 
--red_700_19:#ed1b2419; 
--bluegray_700:#2b4874; 
--black_900:#000000; 
--black_900_72:#00000072; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}